<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>words1</title>
    </head>
    <body>
        <h2>hello, man</h2>
        <input autocomplete="off" autofocus name="q" placeholder="Query" type="text">
        <li></li>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            let input = document.querySelector('input');
            input.onkeyup = function() {
                $.get('/search?q=' + input.value, function(data) {
                    document.querySelector('li').innerHTML = data;
                });
            };
        </script>
    </body>
</html>