{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <input class="form-control-file" type="file" name="file1"><br>
            <input class="form-control-file" type="file" name="file2"><br>
            <input class="form-check-input" type="radio" name="algorithm" value="lines">Lines<br>
            <input class="form-check-input" type="radio" name="algorithm" value="sentences">Sentences<br>
            <input class="form-check-input" type="radio" name="algorithm" value="substrings">Substrings<br>
            <input type="number" name="length" min="1" placeholder="Length">
            <input type="submit">

        </form>
    </div>

{% endblock %}
